<div class="control-section">
  <ejs-switch></ejs-switch>
  <ejs-treegrid
    [dataSource]="data"
    childMapping="subtasks"
    height="350"
    [treeColumnIndex]="1"
    [editSettings]="editSettings"
    [allowResizing]="true"
    [allowReordering]="true"
  >
    <e-columns>
      <e-column
        field="taskID"
        headerText="Task ID"
        width="70"
        textAlign="Right"
      ></e-column>
      <e-column field="taskName" headerText="Task Name" width="200"></e-column>
      <e-column
        field="startDate"
        headerText="Start Date"
        width="90"
        format="yMd"
        textAlign="Right"
        editType="datepickeredit"
      ></e-column>
      <e-column
        field="endDate"
        headerText="End Date"
        width="90"
        format="yMd"
        textAlign="Right"
        editType="datepickeredit"
      ></e-column>
      <e-column
        field="duration"
        headerText="Duration"
        width="80"
        textAlign="Right"
      ></e-column>
      <e-column
        field="progress"
        headerText="Progress"
        width="80"
        textAlign="Right"
      ></e-column>
      <e-column field="priority" headerText="Priority" width="90"></e-column>
    </e-columns>
  </ejs-treegrid>
  <ejs-contextmenu
    id="row_header_menu"
    target=".e-headercell"
    [items]="rowHeaderMenuItems"
    (beforeItemRender)="menuItemRender($event)"
  ></ejs-contextmenu>
  <ejs-contextmenu
    id="column_header_menu"
    target=".e-content"
    [items]="columnHeaderMenuItems"
    (beforeItemRender)="menuItemRender($event)"
  ></ejs-contextmenu>
</div>
