<div class="control-section">
  <ejs-dialog
    #dialog
    [buttons]="dialogButtons"
    [visible]="false"
    width="300px"
    style="min-height: 520px; top: 20px"
  >
    <form #form="ngForm">
      <div class="form-group">
        <ejs-textbox
          placeholder="Name"
          floatLabelType="Auto"
          [(value)]="columnName"
          required
        ></ejs-textbox>
      </div>
      <div class="form-group">
        <ejs-textbox
          placeholder="Default Value"
          floatLabelType="Auto"
          [(value)]="columnDefaultValue"
        ></ejs-textbox>
      </div>
      <div class="form-group" style="padding-top: 10px">
        <ejs-dropdownlist
          [dataSource]="dataTypes"
          placeholder="Data Type"
          [(value)]="columnDataType"
        ></ejs-dropdownlist>
      </div>
      <div class="form-group">
        <ejs-textbox
          placeholder="Minimum Width"
          floatLabelType="Auto"
          [(value)]="columnMinimumWidth"
        ></ejs-textbox>
      </div>
      <div class="form-group">
        <ejs-textbox
          placeholder="Font Size"
          floatLabelType="Auto"
          [(value)]="columnFontSize"
        ></ejs-textbox>
      </div>
      <div class="form-group" style="padding-top: 20px">
        <label for="colorpicker">Font Color :</label>
        <input
          ejs-colorpicker
          type="color"
          id="colorpicker"
          [(value)]="columnFontColor"
        />
      </div>
      <div class="form-group" style="padding-top: 20px">
        <label for="colorpicker">Background Color :</label>
        <input
          ejs-colorpicker
          type="color"
          id="colorpicker"
          [(value)]="columnBackgroundColor"
        />
      </div>
      <div class="form-group" style="padding-top: 10px">
        <ejs-dropdownlist
          [dataSource]="alignments"
          placeholder="Alignment"
          [(value)]="columnAlignment"
        ></ejs-dropdownlist>
      </div>
      <div class="form-group" style="padding-top: 10px">
        <ejs-dropdownlist
          [dataSource]="wraps"
          placeholder="Wrap"
          [(value)]="columnWrap"
        ></ejs-dropdownlist>
      </div>
    </form>
  </ejs-dialog>
  <ejs-treegrid
    #treegrid
    [dataSource]="data"
    idMapping="TaskID"
    parentIdMapping="ParentItem"
    hasChildMapping="isParent"
    [treeColumnIndex]="1"
    [allowResizing]="true"
    [allowReordering]="true"
    [allowSorting]="true"
    [allowMultiSorting]="false"
    [allowFiltering]="isFilteringAllowed"
    [columns]="columns"
    [contextMenuItems]="contextMenuItems"
    (contextMenuClick)="contextMenuClick($event)"
    (contextMenuOpen)="contextMenuOpen($event)"
    [allowRowDragAndDrop]="true"
    [allowSelection]="true"
    [selectionSettings]="selectOptions"
    [editSettings]="editSettings"
    [showColumnChooser]="true"
  >
  </ejs-treegrid>
</div>
